*{
    margin: 0;
    padding: 0;
}

header{
    position: sticky; /* or fixed */
    top: 0;
    background-color: white; /* optional, to cover content under it */
    z-index: 100;           /* keep it above other elements */
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

header > #openPopupBtn {
    padding: 0px 0px;   
    margin: 0;          
    border: none;        
    background: lightgray; 
}


header button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font: inherit;
}




main {
    background-color: aliceblue;
    width: 50%;
}
h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

main div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.popup-container {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 10;
    width: 100vw;
    height: 20%;
    
    justify-content: center;
    align-items: center;
}


.popup-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 20px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 900;
    cursor: pointer;
    margin-bottom: 10px;
    
}

.close-btn:hover,

.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#take-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px; 
    margin-bottom: 10px;
    padding: 0;
    /* border: 1px solid red; */
}

#squareInput{
    width: 60%;
    height: 1.5em;
}

.submit-btn {
    align-self: flex-start; 
    cursor: pointer;
    padding: 3px 5px;
}
